@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600&display=swap');
@import './board';
@import './variables';


html, body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: $raleway;
    height: 100%;
}
body{
    background: #c0d6e3;
}

#app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: auto;
}

.instructions-title{
    font-size: 30px;
}

.rest-of-app{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}

.size-select-container{
    width: 100%;
    margin: auto;
    // margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    background: #c0d6e3;
    box-shadow:  16px 16px 32px #a7bac5, 
                -16px -16px 32px #d9f2ff;
}

.size_select{
    font-size: 20px;
    text-align: center;
    font-family: $raleway;
    font-weight: 400;
}

.title-container{
    font-size: 30px;
    width: 100%;
    text-align: center;
}

#ttt-initiate-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

#replay-button{
    width: 120px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    font-weight: bolder;
    font-weight: 400;
}

#size{
    font-size: 20px;
    width: 100px;
    height: 25px;
    text-align: center;
    margin: auto;
}

#m-select{
    font-size: 20px;
    text-align: center;
    font-family: $raleway;
    font-weight: 400;
    width: 100px;
    // max-width: 60px;
}
.info-box{
    margin-bottom: 40px;
    padding: 10px;
}
dt{
    font-weight: 600;
}
dd{
    font-weight: 400;
}
.info-box{
    max-width: 90%;       
}

@media(max-width: 800px){
    .size_select{
        font-size: 20px;
        // width: auto;
    }
    .info-box{
        width: 100%;       
    }
    .instructions-title{
        font-size: 25px;
    }
    .rest-of-app{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
    #size{
        font-size: 18px;
    }
    #play-button{
        width: 90px;
        height: 30px;
        font-size: 20px;
        text-align: center;
        border-radius: 63px;
        background: #55b9f3;
        box-shadow: inset 18px -18px 26px #418db9, 
                    inset -18px 18px 26px #69e5ff;
    }
    #m-select{
        font-size: 20px;
        // width: auto;
    }

    .title-container{
        margin-top: -20px;
        margin-bottom: -20px;
    }
}